<div style="padding-bottom: 10em!important;">

</div>
<div class="  flex justify-center ">
    <img src="../../../assets/img/imgPrincipal2.png" alt="" style="width: 100%; ">
    <h1 class="z-20 text-white  2xl:text-5xl xl:text-4xl pt-5 font-medium" style="position: absolute;"> Orden de
        Laboratorio </h1>
</div>
<div class="container  mx-auto 2xl:px-80 xl:px-40 pt-10">
<!-- ===================== SUB-HEADER  ===================== -->
    <app-sub-header [origin]="origen"></app-sub-header>
 <!-- --------------------------------------------------------->
    <hr class="mt-4 mb-7">
    <div >
        <h1 class="primaryFont text-3xl pb-5" >Número de orden: 0215</h1>
        <div class="grid grid-cols-2">
            <div class="col-span-1">
                <div class="grid grid-cols-2">
                    <div class="col-span-1">
                        <h1 class="text-md font-semibold " >Paciente: </h1>
                    </div>
                    <div class="col-span-1">
                        <h1>Richar Chimbo Torres</h1>
                    </div>
                </div>
            </div>
            <div class="col-span-1"></div>
        </div>
        <div class="grid grid-cols-2">
            <div class="col-span-1">
                <div class="grid grid-cols-2">
                    <div class="col-span-1">
                        <h1 class="text-md font-semibold " >Medico Solicitante: </h1>
                    </div>
                    <div class="col-span-1">
                        <h1>Dr. Manuel Esteban</h1>
                    </div>
                </div>
            </div>
            <div class="col-span-1"></div>
        </div>
        <div class="grid grid-cols-2">
            <div class="col-span-1">
                <div class="grid grid-cols-2">
                    <div class="col-span-1">
                        <h1 class="text-md font-semibold " >Fecha de la solicitud: </h1>
                    </div>
                    <div class="col-span-1">
                        <h1>01/03/2024</h1>
                    </div>
                </div>
            </div>
            <div class="col-span-1"></div>
        </div>
    </div>
    <hr class="mt-4 mb-7">
    <div>
        <h1 class="primaryFont font-bold text-md " >Observaciones</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum magnam eaque deleniti? Esse error ipsum dolor iusto animi ab voluptas officiis, natus sequi porro dolore laudantium ullam eaque, minima possimus.</p>
        <h1 class="primaryFont font-bold text-md pt-3 " >Lista de exámenes</h1>

        <div class="relative overflow-x-auto shadow-md sm:rounded-sm mt-4 mb-10">
            <table class="w-full text-sm  text-gray-500 dark:text-gray-400" style="text-align: left;">
                <thead class=" theadT text-xs text-white  primaryColor dark:bg-gray-700 dark:text-gray-400  " >
                    <tr style="font-family: Arial, Helvetica, sans-serif;  font-weight: 100; " >
                        <th scope="col"  class="px-6 py-2.5">
                            Código
                        </th>
                        <th scope="col"   class="px-6 py-2.5">
                            Exámen
                        </th>
                        <th scope="col" class="px-6 py-2.5 flex justify-center">
                            Valor
                        </th>
                    </tr>           
                </thead>
                <tbody >
                    <tr class="bg-gray-200  ">
                       <th colspan="3" class="px-6 py-2 font-medium primaryFont whitespace-nowrap dark:text-white" > Hematologia y Coagulación  </th> 
                    </tr>
                    <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            1234
                        </th>
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Curva de glucosa 75g
                        </td>
                        <td 
                       
                        class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                            $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                        </td>
                        
                    </tr>
                    <tr class=" hover:bg-neutral-100   bg-white  border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            1234
                        </th>
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Curva de glucosa 75g
                        </td>
                        <td 
                       
                        class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                            $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                        </td>
                        
                    </tr>
                    <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            1234
                        </th>
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Curva de glucosa 75g
                        </td>
                        <td 
                        (click)="openModal('#modalRequisitos')"
                        class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                            $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                        </td>
                        
                    </tr>       
                </tbody>
                <tfoot>
                    <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-3 text-base">Total</th>
                        <td class="px-6 py-3"></td>
                        <td   class="px-6 py-3 flex justify-center  ">60,00 $</td>
                    </tr>
                </tfoot>
            </table>
        </div>       
    </div>
</div>

  <!-- Main modal -->
  <div id="modalRequisitos" tabindex="-1" aria-hidden="true" 
       class="hidden overflow-y-auto overflow-x-hidden fixed top-0 
       right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full   animate__animated animate__slideInRight ">
        <app-requirement  (close)="closeModal($event, '#modalRequisitos')" ></app-requirement>
  </div>
