

    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                <!-- Sign in to our platform -->
                <img src="../../../assets/img/logoColor.png" style="width: 90%;" alt="">
            </h3>
            <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="closeModal(true, '#ModalLoginCotizacion')">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5">
            <h1 class="primaryFont font-bold pb-3 " >Ingresa tus Credenciales</h1>
            <form class="space-y-4 px-3" [formGroup]="formLogin" >
            
                <div class="pb-2">
                    <label for="email" class="labelGeneral">Usuario</label>
                    <input formControlName="user" type="text" class="inputGeneral" placeholder="Ingresa tu nombre de usuario" required />
                </div>
                <div>
                    <label for="password" class="labelGeneral">Contraseña</label>
                    <input formControlName="pass"  type="password" name="password" id="password" placeholder="Ingresa tu nombre de contraseña" class="inputGeneral" required />
                </div>
                <div class="flex justify-end">
                    <a href="" class="text-xs text-black hover:underline dark:text-blue-500">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="flex justify-center pb-2 pt-3">
                    <button type="button" 
                    [disabled]="formLogin.invalid"
                    (click)="loginSystem(formLogin.value)"
                    class="primaryColor text-white text-xs py-2 px-5 rounded-sm   ease disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-gray-700 ">Iniciar Sesión</button>
                </div>
                <hr>
                <div class="text-xs font-medium text-gray-500 dark:text-gray-300 flex justify-center pt-2 pb-5">
                    ¿Aún no tienes una cuenta? <a href="#" class="text-blue-700 hover:underline dark:text-blue-500"> Regístrate ahora.</a>
                </div>
            </form>
        </div>
    </div>

