<div class="grid grid-cols-6 divide-x">
    <div class="col-span-4">
        <h1 class="flex justify-center text-3xl primaryFont">Encuentre exámenes disponibles y cotice sus precios aquí.
        </h1>
        <hr class="mt-4 ">

        <div class="grid grid-cols-5 items-center justify-center">
            <div class="col-span-5 flex justify-center">
                <div class="grid grid-cols-5 space-x-2">
                    <div class="col-span-4">
                        <div class="relative mt-7">
                            <p class="labelGeneral">Buscar exámen</p>
                            <input placeholder="Ingrese el número de orden" style="width: 30em;" formControlName="email"
                                type="text" class="inputGeneral" />
                        </div>
                    </div>
                    <div class="col-span-1">
                        <button class="btnSuccess text-white py-2.5 px-5 rounded text-xs mt-7 shadow-lg ">
                            Consultar
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="mt-5 mb-60">


            <div class="grid grid-cols-2  ">
                <!-- <div class="block  "> -->
                @for(test of tam; track test.idCategory ; let index1 = $index){
                <div class="col-span-1 p-2 ">
                    <details class="accordion  ">
                        <summary class="accordion-btn2 text-sm  " (click)="openCard(test.idCategory,'open')">
                            {{test.name}}</summary>

                        <!-- @if(flagCollapse){
                            <summary class="accordion-btn text-sm shadow-md " (click)="openCard(test.idCategory,'open')" >{{test.name}}</summary>
    
                        }@else{
                            <summary class="accordion-btn2 text-sm shadow-md " (click)="closeCard(test.idCategory,'close')" >{{test.name}}</summary>
                        
                        } -->
                        <!-- @if(ver1 || ver2 || ver3 || ver4){ -->
                        <div class="accordion-content py-3 shadow-md  ">
                            <div class="relative overflow-x-auto">
                                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <tbody class="text-sm">
                                        @for(e of test.data; track e.id ; let index = $index){
                                        <tr class="bg-white border-b  2xl:text-sm xl:text-xs hover:bg-neutral-100">
                                            <td class="px-1 py-1">
                                                <div class="flex items-center mb-1">
                                                    <input id="dc{{e.id}}" type="checkbox" (change)="selectTest(e)" style="color: #075fa7;"
                                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                    <label for="default-checkbox"
                                                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
                                                </div>
                                            </td>
                                            <td scope="row" class="  font-small text-gray-900 whitespace-nowrap ">
                                                {{e.name}}
                                            </td>
                                            <td class="px-1 py-1">
                                                {{e.price | number: '1.2-2' }}$
                                            </td>
                                            <td (click)="openModal('#modalRequisitos')" class="px-1 py-1">
                                                <i
                                                    class="bi bi-eye px-1 py-0.5 hover:bg-green-400 hover:text-white hover:rounded-full hover:px-1 hover:shadow-lg"></i>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- } -->

                    </details>
                </div>
                }
            </div>





        </div>
    </div>

    <div class="col-span-2">
        <div class="mt-0">
            <div class="flex justify-between">
                <h1 class="ml-4 primaryFont text-xl font-semibold ">Cotización</h1>
                <div class="relative">
                    <button type="button" class="bg-gray-200 px-6 py-2 rounded-lg mr-1">
                        <img src="../../../assets/img/microscope.svg" class="w-5" alt="">
                        <span class="sr-only">Notifications</span>
                        @if(arrayTest.length == 0){
                        <div
                            class=" absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                            {{arrayTest.length}}
                        </div>
                        }@else {
                        <div
                            class=" animate-bounce   absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                            {{arrayTest.length}}
                        </div>
                        }

                    </button>
                </div>

            </div>
            <hr class="mt-4 ">

            <h1 class="ml-5 mt-7 mb-8 primaryFont text-md font-semibold ">Lista de exámenes</h1>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-2">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700  primaryColor text-white dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" colspan="4" class=" py-2  pr-14 " style="text-align: right;">
                                Valor
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if(arrayTest.length==0){
                        <tr>
                            <th colspan="4" class="py-2">
                                <span class="flex justify-center font-normal py-1 bg-green-100 ">
                                    Agregue exámenes al carrito
                                </span>
                            </th>
                        </tr>
                        }@else{
                        @for(test of arrayTest; track test.id){
                        <tr class="bg-gray-100 border-b  2xl:text-sm xl:text-xs py-3  ">

                            <td scope="row" class=" py-3  font-small text-gray-900 whitespace-nowrap  pl-2">
                                {{test.name}}
                            </td>
                            <td class="px-1 py-3">
                                {{test.price | number: '1.2-2' }}$
                            </td>
                            <td class="px-1 py-3">
                                <div class="flex justify-between">
                                    <i
                                        class="bi bi-eye px-1 py-0.5 hover:bg-green-400 hover:text-white hover:rounded-full hover:px-1 hover:shadow-lg"></i>
                                    <i (click)="deleteTest(test)"
                                        class="bi bi-trash px-1 py-0.5  hover:bg-red-500 hover:text-white hover:rounded-full hover:px-1 hover:shadow-lg "></i>
                                </div>
                            </td>
                        </tr>
                        }
                        }
                    </tbody>
                    @if(arrayTest.length>0){
                    <tfoot class="">
                        <tr class="font-semibold text-gray-900 dark:text-white">
                            <th scope="row" class="px-6 py-3 text-base">Total</th>
                            <!-- <td class="px-6 py-3">3</td> -->
                            <!-- <td class="px-6 py-3">{{total | number: '1.2-2'  }}</td> -->
                            <td class="px-1 py-3"> {{calcularTotal(arrayTest) | number: '1.2-2'}} $</td>
                        </tr>
                    </tfoot>
                    }
                </table>
                @if(arrayTest.length>0){
                <div class="flex justify-end">
                    @if(isLoged=='1'){
                    <button (click)="seeDetailOrder('#ModalMetodosPago')"
                        class="mt-2 primaryColor text-white font-normal text-sm py-2 px-3 rounded-sm">
                        Generar órden de Laboratorio
                    </button>
                    }@else {
                    <button (click)="showToast()"
                        class="mt-2 primaryColor text-white font-normal text-sm py-2 px-3 rounded-sm">
                        Generar órden de Laboratorio 2
                    </button>
                    }

                </div>
                }
            </div>

        </div>
    </div>
</div>




<div id="ModalMetodosPago" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 
            right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full   animate__animated animate__slideInRight ">
    <div class="relative p-4 w-full max-w-7xl max-h-full">

        <app-payment-methods (saveCloseOrder)="updateOrder($event)" ></app-payment-methods>

    </div>
</div>