<div class="grid grid-cols-6 divide-x">
    <div class="col-span-4">
        <h1 class="flex justify-center text-3xl primaryFont">Encuentre exámenes disponibles y cotice sus precios aquí.
        </h1>
        <hr class="mt-4 ">

        <div class="grid grid-cols-5 items-center justify-center">
            <div class="col-span-5 flex justify-center">
                <div class="grid grid-cols-5 space-x-2">
                    <div class="col-span-4">
                        <div class="relative mt-7">
                            <p class="labelGeneral">Buscar exámen</p>
                            <input placeholder="Ingrese el número de orden" style="width: 30em;" formControlName="email"
                                type="text" class="inputGeneral" />
                        </div>
                    </div>
                    <div class="col-span-1">
                        <button class="btnSuccess text-white py-2.5 px-5 rounded text-xs mt-7 shadow-lg ">
                            Consultar
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="mt-5 mb-60">

            <div id="accordion-color" data-accordion="open" data-active-classes="bg-[#009659] text-white">
                <div class="grid grid-cols-2  ">
                    @for(test of tam; track test.idCategory ; let index1 = $index){
                    <div class="col-span-1 p-2">
                        <h2 [id]="'accordion-color-heading-'+test.id">
                            <button type="button"
                          
                                class="flex items-center justify-between w-full p-1  shadow-lg text-sm font-smal rtl:text-right text-gray-500 border border-b-sm border-gray-200 rounded-t-sm   hover:bg-green-200 hover:text-gray-500  gap-3"
                                [attr.data-accordion-target]="'#accordion-color-body-'+test.idCategory" aria-expanded="true"
                                [attr.aria-controls]="'accordion-color-body-'+test.idCategory">
                                <span class="pl-2">{{test.name}}</span>
                                <svg data-accordion-icon class="w-3.5 h-2.5 rotate-180 shrink-0 pr-1" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M9 5 5 1 1 5" />
                                </svg>
                            </button>
                        </h2>
                        <div [id]="'accordion-color-body-'+test.idCategory" class="hidden"
                            [attr.aria-labelledby]="'accordion-color-heading-'+test.idCategory">
                            <div class="p-5 border  border-gray-200 ">


                                <div class="relative overflow-x-auto">
                                    <table
                                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        <tbody class="text-sm">
                                            @for(e of test.data; track e.id ; let index = $index){
                                            <tr class="bg-white border-b  2xl:text-sm xl:text-xs">
                                                <td class="px-1 py-1">
                                                    <div class="flex items-center mb-1">
                                                        <input id="dc{{e.id}}" type="checkbox" (change)="selectTest(e)"
                                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                        <label for="default-checkbox"
                                                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
                                                    </div>
                                                </td>
                                                <td scope="row" class="  font-small text-gray-900 whitespace-nowrap ">
                                                    {{e.name}}
                                                </td>
                                                <td class="px-1 py-1">
                                                    {{e.price | number: '1.2-2' }}$
                                                </td>
                                                <td (click)="openModal('#modalRequisitos')" class="px-1 py-1">
                                                    <i
                                                        class="bi bi-eye px-1 py-0.5 hover:bg-green-400 hover:text-white hover:rounded-full hover:px-1 hover:shadow-lg"></i>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    }
                </div>


                <!-- } -->
            </div>

        </div>
    </div>

    <div class="col-span-2">
        <div class="mt-0">
            <div class="flex justify-between">
                <h1 class="ml-4 primaryFont text-xl font-semibold ">Cotización</h1>
                <div class="relative">
                    <button type="button" class="bg-gray-200 px-6 py-2 rounded-lg mr-1">
                        <img src="../../../assets/img/microscope.svg" class="w-5" alt="">
                        <span class="sr-only">Notifications</span>
                        <div
                            class=" animate-bounce   absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                            {{arrayTest.length}}</div>
                    </button>
                </div>

            </div>
            <hr class="mt-4 ">

            <h1 class="ml-5 mt-7 mb-8 primaryFont text-md font-semibold ">Lista de exámenes</h1>


            <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-2">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700  primaryColor text-white dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" colspan="4" class=" py-2  pr-14 " style="text-align: right;">
                                Valor
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if(arrayTest.length==0){
                        <tr>
                            <th colspan="4" class="py-2">
                                <span class="flex justify-center py-1 bg-green-100 ">
                                    Agregue exámenes al carrito
                                </span>
                            </th>
                        </tr>
                        }@else{
                        @for(test of arrayTest; track test.id){
                        <tr class="bg-white border-b  2xl:text-sm xl:text-xs py-3 ">

                            <td scope="row" class=" py-3  font-small text-gray-900 whitespace-nowrap  pl-2">
                                {{test.name}}
                            </td>
                            <td class="px-1 py-3">
                                {{test.price | number: '1.2-2' }}$
                            </td>
                            <td class="px-1 py-3">
                                <div class="flex justify-between">
                                    <i
                                        class="bi bi-eye px-1 py-0.5 hover:bg-green-400 hover:text-white hover:rounded-full hover:px-1 hover:shadow-lg"></i>
                                    <i (click)="deleteTest(test)"
                                        class="bi bi-trash px-1 py-0.5  hover:bg-red-500 hover:text-white hover:rounded-full hover:px-1 hover:shadow-lg "></i>
                                </div>
                            </td>
                        </tr>
                        }
                        }
                    </tbody>
                    @if(arrayTest.length>0){
                    <tfoot>
                        <tr class="font-semibold text-gray-900 dark:text-white">
                            <th scope="row" class="px-6 py-3 text-base">Total</th>
                            <!-- <td class="px-6 py-3">3</td> -->
                            <!-- <td class="px-6 py-3">{{total | number: '1.2-2'  }}</td> -->
                            <td class="px-1 py-3"> {{calcularTotal(arrayTest) | number: '1.2-2'}} $</td>
                        </tr>
                    </tfoot>
                    }
                </table>
            </div>

        </div>
    </div>
</div>