<div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                <!-- Sign in to our platform -->
                <img src="../../../assets/img/logoColor.png" style="width: 90%;" alt="">
            </h3>
            <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="closeModal()">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <!-- Modal body -->
        <div class="p-5 md:p-5">
          <h1 class="primaryFont font-bold pb-3 " >Requisitos para la toma de muestras de: Curva de glucosa 75g </h1>
          <h2 class="text-green-500" >Requisitos:</h2>
          <div class=" pb-5 text-sm" >
              <p>1. Se debe presentar en ayuno mínimo de 8h. Solo puede beber agua.</p>
              <p>2. Deberá seguir una dieta rica en hidratos de carbono (más de 150g) los tres días anteriores a la prueba, incluidos los alimentos azucarados, pasteles, etc.</p>
          </div>
          <h2 class="text-green-500">Instrucciones de recolección de la(s) muestra(s):</h2>
          <div class="  pb-5 text-sm " >
              <p>1. Preséntese en el laboratorio en ayunas.</p>
              <p>2. Si toma alguna medicación (especialmente diuréticos, corticoides), indíqueselo al profesional que le hará la extracción.</p>
              <p>3. Se tomará la primera muestra de sangre venosa.</p>
              <p>4. Luego le daremos una solución por vía oral de 75 g de glucosa.</p>
              <p>5. Transcurrido una hora y a las dos horas se le tomarán las siguientes muestras de sangre según la solicitud médica.</p>
              <p> 6. Durante el tiempo que dura el examen:</p>
              <ul>
                  <li> Tendrá que permanecer sentado en la sala de espera.</li>
                    
                     
                  <li>  No podrá fumar.</li>
                  <li> No ingerir alimentos, ni bebidas, salvo un poco de agua.</li>
                  <li>Si siente náuseas, vómitos, mareos, sueño u otro malestar, por favor dar aviso al personal de la Unidad de Toma de Muestras.</li>

              </ul>
          </div>
          <div class=" pb-5 text-sm">
              <p>
                  Planifique su actividad para el día del examen ya que debe disponer alrededor de 3 horas en la Unidad de Toma de Muestras. Se recomienda traer material de lectura o de distracción.
              </p>
          </div>
        </div>
    </div>
</div>
