<!-- <app-header style="margin-bottom: 10em !important;"></app-header> -->
<div  style="padding-bottom: 10em!important;">

</div>
<div class="  flex justify-center " >
    <img src="../../../assets/img/imgPrincipal.png" alt="" class="imgHeader">
    <h1 class="z-20 text-white  2xl:text-6xl xl:text-5xl pt-40 font-medium" style="position: absolute;" > Orden de Laboratorio </h1>
</div>


<div class="container  2xl:px-80 xl:px-60 mx-auto  pb-20 mb-10 ">
    <h1 class="flex justify-start pt-20 pb-10 primaryFont text-4xl "  >Cotiza, genera o consulta tu orden de Laboratorio</h1>

    <div class=" grid grid-cols-2  ">
        <!-- <h1>Cotiza, genera o consulta tu orden de Laboratorio</h1> -->
        <div class="col-span-1  ">
            <img src="../../../assets/img/imgSegundaria.png" alt="" style="width: 90%;" class="shadow-lg">

        </div>
        <div class="col-span-1  pl-5 2xl:pr-20 pr-5  ">
            <p class="" style="text-align: justify;" >Obtén tu cotización, genera tu orden o consulta el estado de tu orden de laboratorio con facilidad y rapidez. Con nuestra plataforma, tendrás acceso a toda la información de tus exámenes médicos de manera eficiente y sin complicaciones.</p>
            <!-- <img src="../../../assets/img/imgSegundaria.png" alt=""> -->
            <div class="flex  space-x-5 mt-10" >
                <button class="btnSuccess py-2 px-7  hover:shadow-lg"  (click)="redirectToCotization()">Cotiza tu orden</button>
                <button class="btnPrimary py-2 px-7 hover:shadow-lg" (click)="openModal('#ModalLoginCotizacion')" >Inicia Sesión</button>
            </div>
        </div>


    </div>
</div>
  
  <!-- Main modal -->

  
<div id="ModalLoginCotizacion" tabindex="-1" aria-hidden="true" 
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 
            right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full   animate__animated animate__slideInRight ">
            <div class="relative p-4 w-full max-w-lg max-h-full">
                <app-login-component [origin]="'home'" ></app-login-component>
            </div>           
</div> 