.bg-home{
    // margin-top: 10em;
    background-image: url(../../../assets/img/imgPrincipal.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.imgHeader{
    object-fit: contain;
    width: 100vw;
}