<!-- <div style="padding-bottom: 10em!important;">

</div>
<div class="  flex justify-center ">
    <img src="../../../assets/img/imgPrincipal2.png" alt="" style="width: 100%; ">
    <h1 class="z-20 text-white  2xl:text-5xl xl:text-4xl pt-5 font-medium" style="position: absolute;"> Orden de
        Laboratorio </h1>
</div> -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 p-5">
<!-- <div class="container  mx-auto 2xl:px-80 xl:px-40 pt-10"> -->
    <!-- <app-sub-header [origin]="origen"></app-sub-header> -->
 <hr class="mt-4 mb-7">
 <div >
     <h1 class="primaryFont text-3xl pb-5" >Número de orden: 0215</h1>
     <div class="grid grid-cols-2">
         <div class="col-span-1">
             <div class="grid grid-cols-2">
                 <div class="col-span-1">
                     <h1 class="text-md font-semibold " >Paciente: </h1>
                 </div>
                 <div class="col-span-1">
                     <h1>Richar Chimbo Torres</h1>
                 </div>
             </div>
         </div>
         <div class="col-span-1"></div>
     </div>
     <!-- <div class="grid grid-cols-2">
         <div class="col-span-1">
             <div class="grid grid-cols-2">
                 <div class="col-span-1">
                     <h1 class="text-md font-semibold " >Medico Solicitante: </h1>
                 </div>
                 <div class="col-span-1">
                     <h1>Dr. Manuel Esteban</h1>
                 </div>
             </div>
         </div>
         <div class="col-span-1"></div>
     </div> -->
     <div class="grid grid-cols-2">
         <div class="col-span-1">
             <div class="grid grid-cols-2">
                 <div class="col-span-1">
                     <h1 class="text-md font-semibold " >Fecha de la solicitud: </h1>
                 </div>
                 <div class="col-span-1">
                     <h1>01/03/2024</h1>
                 </div>
             </div>
         </div>
         <div class="col-span-1"></div>
     </div>
 </div>
 <h1 class="primaryFont font-bold text-md pt-3 " >Lista de exámenes</h1>

 <div class="relative overflow-x-auto shadow-md sm:rounded-sm mt-4 mb-10">
     <table class="w-full text-sm  text-gray-500 dark:text-gray-400" style="text-align: left;">
         <thead class=" theadT text-xs text-white  primaryColor dark:bg-gray-700 dark:text-gray-400  " >
             <tr style="font-family: Arial, Helvetica, sans-serif;  font-weight: 100; " >
                 <th scope="col"  class="px-6 py-2.5">
                     Código
                 </th>
                 <th scope="col"   class="px-6 py-2.5">
                     Exámen
                 </th>
                 <th scope="col" class="px-6 py-2.5 flex justify-center">
                     Valor
                 </th>
             </tr>           
         </thead>
         <tbody >
             <tr class="bg-gray-200  ">
                <th colspan="3" class="px-6 py-2 font-medium primaryFont whitespace-nowrap dark:text-white" > Hematologia y Coagulación  </th> 
             </tr>
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>
                 
             </tr>
             <tr class=" hover:bg-neutral-100   bg-white  border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>
                 
             </tr>
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
             <tr class=" hover:bg-neutral-100   bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     1234
                 </th>
                 <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Curva de glucosa 75g
                 </td>
                 <td 
                 
                 class="px-6 py-4 flex justify-center font-medium text-gray-900  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                     $20  <span class="text-green-500 pl-3" > Ver requisitos </span> 
                 </td>             
             </tr>       
         </tbody>
         <tfoot>
             <tr class="font-semibold text-gray-900 dark:text-white">
                 <th scope="row" class="px-6 py-1.5 text-base">Subtotal</th>
                 <td class="px-6 py-1.5"></td>
                 <td   class="px-6 py-1.5 flex justify-center   font-normal ">88,00 $</td>
             </tr>
             <tr class="font-semibold text-gray-900 dark:text-white">
                 <th scope="row" class="px-6 py-1.5 text-base">IVA 12%</th>
                 <td class="px-6 py-1.5"></td>
                 <td   class="px-6 py-1.5 flex justify-center  font-normal  ">12,00 $</td>
             </tr>
             <tr class="font-semibold text-gray-900 dark:text-white">
                 <th scope="row" class="px-6 py-1.5 text-base">Total</th>
                 <td class="px-6 py-1.5"></td>
                 <td   class="px-6 py-1.5 flex justify-center  ">100,00 $</td>
             </tr>
         </tfoot>
     </table>
 </div> 

 <h1 class="primaryFont font-bold text-md  " >Métodos de Pago</h1>

 <div class="grid grid-cols-5 justify-between  mt-2 mb-10 space-x-2">
    <div [ngClass]="{'btnEfectivo': flagPE}" class="col-span-1 card  divMP" (click)="payment('efectivo')">
        <i class="bi bi-currency-dollar text-green-500 font-bold "></i>   Pago en efectivo
    </div>
    <div [ngClass]="{'btnPaypal': flagPP}" class=" col-span-1 card divMP " (click)="payment('paypal')">
        <i class="bi bi-paypal text-blue-700 "></i> Paypal
    </div>
    <div [ngClass]="{'btnDeUna': flagDU}"   class="  col-span-1 card divMP" (click)="payment('deUna')">
        <div class="flex justify-center ">
            <img src="../../../assets/img/svgDeuna.svg" alt="" width="17">
            <span class="pl-2">
                DeUna
            </span>  
        </div>
    </div>
    <div [ngClass]="{'btnAhorita': flagA}"  class=" col-span-1 card divMP " (click)="payment('Ahorita')">
        <div class="flex justify-center ">
            <img src="../../../assets/img/svgAhorita.svg" alt="" width="15">
            <span class="pl-2">
                Ahorita
            </span>  
        </div>
    </div>
    <div [ngClass]="{'btnTarjeta': flagT}"  class=" col-span-1 card divMP " (click)="payment('tarjeta')">
        <i class="bi bi-credit-card-fill text-yellow-300"></i>  Pago con tarjeta
    </div>
 </div>

 @if(flagActive){
    <div class="grid grid-cols-2 pb-5 animate animate__fadeIn ">
        <div class="col-span-2 card shadow-lg p-5 rounded-sm bg-gray-100 ">
            <div  class="flex justify-end" >
                <i class="bi bi-x-lg" (click)="closePayment()" ></i>
            </div>
            <h1 class="text-3xl text-center " >aquí se renderiza el método de pago {{tipo}}</h1>
        </div>

    </div>
 }
 <div class="block space-x-2 mb-5">
    <button class=" primaryFont border-solid border-2 border-blue-900 text-xs rounded-sm px-4 py-2" (click)="closeModal(true,'#ModalMetodosPago')" >Cancelar</button>
    <button class="primaryColor text-white text-xs rounded-sm px-4 py-2.5" (click)="saveOrder()" >Guardar Orden</button>
 </div>
 
</div>

<app-spinner [flagLoader]="flagLoader"></app-spinner>