<div style="padding-bottom: 10em!important;">

</div>
<div class="  flex justify-center ">
    <img src="../../../assets/img/imgPrincipal2.png" alt="" style="width: 100%; ">
    <h1 class="z-20 text-white  2xl:text-5xl xl:text-4xl pt-5 font-medium" style="position: absolute;"> Orden de
        Laboratorio </h1>
</div>
<div class="container  mx-auto 2xl:px-80 xl:px-40 pt-10">

    <!-- Sub Header de Login -->
<app-sub-header    pp-sub-header [origin]="origin" ></app-sub-header>

    <hr class="mt-4">
    <div class="grid grid-cols-3 items-center">
        <div class="col-span-2">
            <div class="grid grid-cols-4 space-x-5">
                <div class="col-span-2">
                    <div class="relative mt-7">
                        <p class="labelGeneral">Número de orden</p>
                        <input placeholder="Ingrese el número de orden" formControlName="email" type="text" class="inputGeneral" />    
                      </div>
                </div>
                <div class="col-span-2">
                    <button class="btnSuccess text-white py-2.5 px-5 rounded text-xs mt-7 shadow-lg ">
                        Consultar
                    </button>
                </div>
            </div>
            
        </div>
        <div class="col-span-1">
            <div class="relative mt-7">
                <p class="labelGeneral">Filtrar por tipo</p>
                <!-- <input placeholder="Ingrese el número de orden" formControlName="email" type="text" class="inputGeneral" />     -->
                <select (change)="selectTypeOrder($event)"  class="inputGeneral">
                    <!-- <option  disabled >Seleccionar tipo de búsqueda</option>  -->
                    <option  [value]="0" >Ver todas</option>
                    <option  [value]="1">Órdenes pendientes</option>
                    <option  [value]="2">Órdenes procesadas</option>
                    <option  [value]="3">Órdenes completadas</option>
                </select>
              </div>
        </div>
    </div>

    <!-- <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"> -->

<div class="relative overflow-x-auto shadow-md sm:rounded-sm mt-10 mb-10" >
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class=" theadT text-xs text-white  primaryColor dark:bg-gray-700 dark:text-gray-400  " >
            <tr style="font-family: Arial, Helvetica, sans-serif;  font-weight: 100; " >
                <th scope="col"  colspan="3" class="px-6 py-2.5">
                    Órdenes de laboratorio
                </th>
                <th scope="col"  colspan="1" class="px-6 py-2.5  justify-center">
                    Estado
                </th>
                <th scope="col" colspan="1" class="px-6 py-2.5 flex justify-end ">
                    
                    <span class="pr-5">
                        Acciones
                    </span>
                </th>
   
            </tr>
        </thead>
        <tbody >
            @for(order of filteredOrders; track order?.id){
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-neutral-100 dark:hover:bg-gray-600">
                    <th scope="row"  colspan="3" class="px-6 py-0 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{order?.id}}
                    </th>
                    <td colspan="1"  class="  " >
                        {{order?.state | titlecase }}
                    </td>
                    <td  colspan="1"
                    (click)="seeDetailOrder()"
                    class="px-6 py-4 flex justify-end font-medium text-gray-700  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                        <i class="bi bi-eye-fill pr-2"></i>  Ver Orden
                    </td>                  
                </tr>
            }
        </tbody>
    </table>
</div>
</div>