<div style="padding-bottom: 10em!important;">

</div>
<div class="  flex justify-center ">
    <img src="../../../assets/img/imgPrincipal2.png" alt="" style="width: 100%; ">
    <h1 class="z-20 text-white  2xl:text-5xl xl:text-4xl pt-5 font-medium" style="position: absolute;"> Orden de
        Laboratorio </h1>
</div>
<div class="container  mx-auto 2xl:px-80 xl:px-40 pt-10">
    <div class="flex justify-between">
        <!-- <button class="btnSuccess px-6 " style="height: 3em !important;"> -->
        <button 
            (click)="redirectToCotization()"
            class=" border-2 border-green-1000/100 border-b  border-t border-r border-l hover:bg-green-100 px-6 border-green-400 rounded-md text-sm text-green-500 " style="height: 2.8em !important;">
            Cotiza tu orden
        </button>
        <button
            class="relative group transition-all duration-200 focus:overflow-visible w-max h-max p-1.5 overflow-hidden flex flex-row items-center justify-center bg-gray-100 gap-2 rounded-xl border border-zinc-200">
            <span class="text-sm">
                <i class="bi bi-person text-lg"></i> Richard Chimbo Torres
            </span>
            <svg class="rotate-90 group-focus:rotate-180" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="m12 10.8l-3.9 3.9q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7l4.6-4.6q.3-.3.7-.3t.7.3l4.6 4.6q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275z" />
            </svg>
            <div
                class="z-50 absolute shadow-lg -bottom-28 left-0 w-full h-max p-2 bg-white border border-zinc-200 rounded-lg flex flex-col gap-2">
                <span class="flex flex-row gap-2 items-center hover:bg-zinc-100 p-2 rounded-lg">
                    <i class="bi bi-gear"></i>
                    <p>Configuración</p>
                </span>
                <span (click)="returnHome()"  class="flex flex-row gap-2 items-center hover:bg-zinc-100 p-2 rounded-lg">
                    <i class="bi bi-box-arrow-right"></i>
                    <p>Cerrar Sesión</p>
                </span>
            </div>
        </button>
    </div>
    <hr class="mt-4">
    <div class="grid grid-cols-3 items-center">
        <div class="col-span-2">
            <div class="grid grid-cols-4 space-x-5">
                <div class="col-span-2">
                    <div class="relative mt-7">
                        <p class="labelGeneral">Número de orden</p>
                        <input placeholder="Ingrese el número de orden" formControlName="email" type="text" class="inputGeneral" />    
                      </div>
                </div>
                <div class="col-span-2">
                    <button class="btnSuccess text-white py-2.5 px-5 rounded text-xs mt-7 shadow-lg ">
                        Consultar
                    </button>
                </div>
            </div>
            
        </div>
        <div class="col-span-1">
            <div class="relative mt-7">
                <p class="labelGeneral">Filtrar por tipo</p>
                <!-- <input placeholder="Ingrese el número de orden" formControlName="email" type="text" class="inputGeneral" />     -->
                <select (change)="selectTypeOrder($event)"  class="inputGeneral">
                    <!-- <option  disabled >Seleccionar tipo de búsqueda</option>  -->
                    <option  [value]="0" >Ver todas</option>
                    <option  [value]="1">Órdenes pendientes</option>
                    <option  [value]="2">Órdenes procesadas</option>
                    <option  [value]="3">Órdenes completadas</option>
                </select>
              </div>
        </div>
    </div>

    <!-- <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"> -->

<div class="relative overflow-x-auto shadow-md sm:rounded-sm mt-10 mb-10" >
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class=" theadT text-xs text-white  primaryColor dark:bg-gray-700 dark:text-gray-400  " >
            <tr style="font-family: Arial, Helvetica, sans-serif;  font-weight: 100; " >
                <th scope="col"  colspan="3" class="px-6 py-2.5">
                    Órdenes de laboratorio
                </th>
                <th scope="col"  colspan="1" class="px-6 py-2.5  justify-center">
                    Estado
                </th>
                <th scope="col" colspan="1" class="px-6 py-2.5 flex justify-end ">
                    
                    <span class="pr-5">
                        Acciones
                    </span>
                </th>
   
            </tr>
        </thead>
        <tbody >
            @for(order of filteredOrders; track order?.id){
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-neutral-100 dark:hover:bg-gray-600">
                    <th scope="row"  colspan="3" class="px-6 py-0 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{order?.id}}
                    </th>
                    <td colspan="1"  class="  " >
                        {{order?.state | titlecase }}
                    </td>
                    <td  colspan="1"
                    (click)="seeDetailOrder()"
                    class="px-6 py-4 flex justify-end font-medium text-gray-700  text-sm whitespace-nowrap dark:text-white  ease cursor-pointer " >
                        <i class="bi bi-eye-fill pr-2"></i>  Ver Orden
                    </td>
                    
                </tr>
            }

       

        </tbody>
    </table>
</div>




</div>