<div style="padding-bottom: 10em!important;">

</div>
<div class="  flex justify-center ">
    <img src="../../../assets/img/imgPrincipal2.png" alt="" style="width: 100%; ">
    <h1 class="z-20 text-white  2xl:text-5xl xl:text-4xl pt-5 font-medium" style="position: absolute;"> Orden de
        Laboratorio </h1>
</div>

<div class="container  mx-auto 2xl:px-20 xl:px-2 pt-10">
    <app-sub-header [origin]="origen"></app-sub-header>

    <hr class="mt-4 mb-4">
    <app-all-cotizacion [isLoged]="isLoged" [dataCategories]="tam"></app-all-cotizacion>

</div>


<!-- <div id="ModalLoginCotizacion" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 
            right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full   animate__animated animate__slideInRight ">
    <div class="relative p-4 w-full max-w-lg max-h-full">
        <app-login-component (loginCliente)="updateLoginScreen($event)" [origin]="'cotizacion'"></app-login-component>
    </div>
</div> -->